<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" >-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Create Category</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div th:replace="fragments/header :: header"></div>
    <div class="container">
        <h1 th:if="${product.id == 0}"> Create Product</h1>
        <h1 th:if="${product.id != 0}"> Update Product</h1>
        <form th:action="@{/products/create}" method="post" th:object="${product}">
            <input th:field="${product.id}" hidden>
            <div class="card p-2">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <h2>Product List</h2>
                    </ul>
                </div>
<!--                <div class="container mt-3">-->
<!--                    <label>Select Category</label>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->

<!--                            <label>-->
<!--                                <select class="form-control" th:field="*{category.name}">-->
<!--                                    <option class="form-control" th:each="category : ${product.categories}"-->
<!--                                            th:text="${category.name}"-->
<!--                                            th:value="${category.id}"-->
<!--                                    ></option>-->
<!--                                </select>-->
<!--                            </label>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="md-3">
                    <label>Select Category</label>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="category : ${product.categories}" th:text="${category.name}"
                                th:value="${category.id}"
                        ></option>
                    </select>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label>Product Name</label>
                            <input class="form-control" th:field="*{name}" type="text" placeholder="Category Name">
                        </div>
                        <div class="col">
                            <label>Code</label>
                            <input class="form-control" th:field="*{code}" type="text" placeholder="Code">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label>Code</label>
                            <input class="form-control" th:field="*{code}" type="text" placeholder="Code">
                        </div>
                        <div class="col">
                            <label>Barcode</label>
                            <input class="form-control" th:field="*{barcode}" type="text" placeholder="Barcode">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label>Cots</label>
                            <input class="form-control" th:field="*{cost}" type="text" placeholder="Cots">
                        </div>
                        <div class="col">
                            <label>Price</label>
                            <input class="form-control" th:field="*{price}" type="text" placeholder="Price">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="md-3 ">
                        <label>Stock Type</label>
                        <input class="form-control " th:field="*{stocktype}" type="text" placeholder="Stock Type">
                    </div>
                </div>
                <div class="row">
                    <div class="md-3 ">
                        <label>Status</label>
                        <input class="form-control  " th:field="*{status}" type="text" placeholder="Status">
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success mt-3 " style="color: red">You can join my test Project</div>

            </div>
            <button th:if="${product.id == 0}" class="btn btn-sm btn-primary mt-3 float-end">Create</button>
            <button th:if="${product.id != 0}" class="btn btn-sm btn-primary mt-3 float-end">Update</button>
        </form>
    </div>
</div>
</body>
</html>