<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>Create Category</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1 th:if="${category.id == 0}"> Create Category</h1>
    <h1 th:if="${category.id != 0}"> Update Category</h1>
    <form th:action="@{/categories/create}" method="post" th:object="${category}">
        <input th:field="*{id}" hidden>
        <div class="md-3">
            <label>Category Name</label>
            <input class="form-control" th:field="*{name}" type="text" placeholder="Category Name">
        </div>
       <div class="md-3">
           <label>Status</label>
           <input class="form-control" th:field="*{status}" type="text" placeholder="Status">
       </div>
        <button th:if="${category.id == 0}" class="btn btn-sm btn-primary mt-3 float-end">Create</button>
        <button th:if="${category.id != 0}" class="btn btn-sm btn-primary mt-3 float-end">Update</button>
    </form>
</div>
</div>
</body>
</html>