<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <title>List Category</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container pt-2">
        <div class="row">
            <div class="col-md-6 ">
                <h1> List Category</h1>
            </div>
            <div class="col-md-6 pt-3">
                <a class=" btn btn-primary btn-sm float-end " th:href="@{/categories/create}">Add</a>
            </div>

        </div>
        <div class="row pt-2">
            <div class="col-md-12">
                <table class="table table-hover table-bordered">
                    <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr th:each="category :${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.status}"></td>
                        <td >
                            <a class="btn btn-sm btn-primary" th:href="@{'/categories/edit/'+${category.id}}">Edit</a>
                            <a class="btn btn-sm btn-danger" th:href="@{'/categories/delete/'+${category.id}}">Delete</a>
                            <a class="btn btn-sm btn-sm bg-light" style="color:black"th:href="@{'/categories/active/'+${category.id}}">ACTIVE</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>